<!DOCTYPE html>
<html ng-app='VinylHound'>
  <head>
    <meta charset="utf-8">
    <title>hello world</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/angular.min.js" charset="utf-8"></script>
    <script src="/js/services/albumsAPI.js" charset="utf-8"></script>
    <script src="/js/services/artistsAPI.js" charset="utf-8"></script>
    <script src="/js/services/collectedAPI.js" charset="utf-8"></script>
    <script src="/js/controllers/main.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

  </head>
  <body ng-controller="MainController">
    <h1>New Record</h1>
      <div class="box" id="record-input">
        <h3>Input Record Name</h3>
        <input type="text" name="record-title" class="record-title" ng-model="albumName"><br>
        <h3>Input your content</h3>
        <input type= "text" name="post-artist" class ="record-artist" ng-model="artistName">
        <button ng-click="postData()">Post</button>
        <button ng-click="querryArtist()">Post</button>
      </div>

      <!-- <button ng-click='oneNewAlbum()'>New</button> -->
  </body>
</html>
