<!DOCTYPE html>
<html ng-app='VinylHound'>
  <head>
    <meta charset="utf-8">
    <title>Vinyl Hound</title>
    <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/angular.min.js" charset="utf-8"></script>
    <script src="/js/services/albumsAPI.js" charset="utf-8"></script>
    <script src="/js/services/artistsAPI.js" charset="utf-8"></script>
    <script src="/js/services/collectedAPI.js" charset="utf-8"></script>
    <script src="/js/services/bouncebacksAPI.js" charset="utf-8"></script>
    <script src="/js/services/recommendationsAPI.js" charset="utf-8"></script>
    <script src="/js/controllers/main.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

  </head>
  <div ng-controller="MainController">
    <img id="hound" src="http://vignette3.wikia.nocookie.net/moviepedia/images/4/41/Huckleberry_HOund.png/revision/latest?cb=20141021130010">
    <a id="head-back" href="/">Return to Log In</a>
    <div class="top">
      <h1>Vinyl Hound</h1>
      <h2>Throw In a New Record</h2>
      <div class="box" id="record-input">
        <input id="dap_text_box" type="text" name="record-title" class="record-title" placeholder="Title"  ng-model="albumName"><br>
        <input id="dap_text_box" type= "text" name="post-artist" class ="record-artist" placeholder="Artist"  ng-model="artistName">
        <a href="#" class="myButton" ng-click="postData()">Post</a>
        <a href="#" class="myButton" ng-click="postRecs()">Get recs</a>
      </div>
    </div>

    <div class= "albums-first">
      <div class="container">
        <ul class="collecteds">
          <li ng-repeat="collected in collecteds | filter:query | orderBy:id" class="thumbnail" ng-mouseover="formatCollected(collected.album_name, collected.artist_name)">
            <img id="delete-button" src="../images/delete_trans.png" ng-click="removeCollected(collected)">
            <a href="#/collecteds/{{collected.id}}" class="thumb"><img id="yours" ng-src="{{collected.album_cover_url || 'http://images5.fanpop.com/image/photos/26000000/Boo-Boo-the-huckleberry-hound-show-26019702-500-500.png'}}" height="300px" width="300px"></a>
          </li>
        </ul>
        <h4>Your Collection</h4>
      </div>
    </div>
    <div class="albums-second">
      <div class="container">
        <ul class="recommends">
          <li ng-repeat="recommend in recommends | filter:query | orderBy:id" class="thumbnail" ng-mouseover="formatCollected(recommend.album, recommend.artist)">
            <a href="#/recommends/{{recommend.id}}" class="thumb"><img ng-src="{{recommend.album_cover_url || 'http://images5.fanpop.com/image/photos/26000000/Boo-Boo-the-huckleberry-hound-show-26019702-500-500.png'}}" height="300px" width="300px"></a>
          </li>
        </ul>
        <h4>Our Recommendations for You</h4>
      </div>
    </div>
    <div class='bottom'>
      <h1>{{ currentName }}</h1>
    </div>

      <!-- <button ng-click='oneNewAlbum()'>New</button> -->
  </body>
</html>
